[submodule "Boksi/vendor/spdlog"]
	path = Boksi/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
	shallow = true
[submodule "Boksi/vendor/GLM"]
	path = Boksi/vendor/GLM
	url = https://github.com/g-truc/glm
	branch = master
	shallow = true
[submodule "Boksi/vendor/GLFW/GLFW"]
	path = Boksi/vendor/GLFW/GLFW
	url = https://github.com/glfw/glfw
	branch = latest
	shallow = true
[submodule "Boksi/vendor/imgui/imgui"]
	path = Boksi/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	shallow = true
[submodule "Boksi/vendor/gvox/gvox"]
	path = Boksi/vendor/gvox/gvox
	url = https://github.com/GabeRundlett/gvox.git
	branch = 2.0
	shallow = true
